@import "tailwindcss";

/* Minimalist B&W overrides */
@theme {
  --color-brand: #ffffff;
  --font-mono: "JetBrains Mono", "monospace";
}

:root {
  background-color: #000;
  color: #fff;
}


/* global.css */
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}